body
{
background-size: cover;
background-position: center;
}
.heading {
    width: 100%;
    font-size: 23px;
    text-align: left;
    
}
.heading button{
    float: right;
    font-size: 18px;
}
#start , #status , #restart{
    font-size: 22px;
}
.heading h3{
    display: inline;
}
.copy_right_footer{
    line-height: 2;
    width: 100%;
    background-color: aqua;
    color: red;
    box-shadow: 1px 1px 38px white;
    position: fixed;
    bottom: 0px;
    text-align: center;
}
canvas{
    margin-top: 100px;
    border-radius: 20px;
    border: 5px 5px solid black;
    box-shadow: 1px 1px 38px whitesmoke;
}
#video{
    border: 5px 5px solid black;
    border-radius: 20px;
}
.modal_body{
    text-align: left;
    color: maroon;
}
.modal_header{
    text-align: center;
    color: blue;
    font-weight: bolder;
}
video{
    border: 5px solid yellow;
    border-radius: 20px;
    border-width: 5px;
    
}