body
{
background-size: cover;
background-position: center;
}
.heading {
    width: 100%;
    font-size: 23px;
    text-align: left;
    
}
.heading button{
    float: right;
    font-size: 18px;
}
#start , #status , #restart{
    font-size: 22px;
}
.heading h3{
    display: inline;
}
.copy_right_footer{
    line-height: 2;
    width: 100%;
    background-color: aqua;
    color: red;
    box-shadow: 1px 1px 38px white;
    position: fixed;
    bottom: 0px;
    text-align: center;
}
